html{
  font-size: 10px;
  font-family: "Open Sans",sans-serif;
}
html{
  background-color: rgb(245, 205, 241);
}
h1{
  font-size: 60px;
  text-align: center;
}
p,

li {
   font-size: 16px;
   line-height: 2;
   letter-spacing: 1px;
}
  body{
    width: 600px;
    margin: 0 auto;
    background-color: rgb(250, 149, 241);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
h1{
  margin: 0;
  padding: 20px 0;
  color: rgb(26, 1, 23);
  text-shadow: 3px 3px 1px rgb(167, 0, 144);
}
img{
  display: block;
  margin:0 auto;
}

button{
 color: rgb(26, 1, 23);
}